.App {
  text-align: left;
  margin-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{
  margin-top: 10px;
  display: block;
  text-align: left;
  margin-left: 10px;
}
.inp{
  margin-top: 10px;
  height: 50px;
  width: 250px;
}
.label{
  display: block;
}
.but{
  background-color: white;
  border: white;
}
.refresh{
  display: inline;
  margin-left: 20px;
}
h3{
  display: inline;
}
.wrap{
  display: block;
  margin-left: 10px;
}
.note{
  display: inline;
  margin-left: 10px;
}
p{
  display: inline-block;
  height: 200px;
  width: 250px;
  border: 1px double rgb(212, 212, 212);
}
.cros{
  display: inline;
  background-color: white;
  border: white;
}